-r app/requirements.txt  # inclut les dépendances prod

# Test et coverage
pytest
pytest-asyncio
httpx
pytest-cov
coverage
trio

# Lint et type check
flake8
ruff
mypy

# Sécurité
safety==2.3.5

# Packaging
setuptools>=83.0.0
wheel>=0.46.2

# Optionnel: Docker utils si tu veux automatiser smoke tests
docker
